<div class="container mt-2">
    <div class="formRegistro">
        <h2>Crear persona</h2>
        <form [formGroup]="personaForm" (ngSubmit)="guardar()">

            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Primer Nombre</label>
                        <input type="text" formControlName="primernombre" class="form-control">
                        <span class="text-danger"
                        *ngIf="personaForm.get('primernombre')?.hasError('required') && personaForm.get('primernombre')?.touched">
                        El Primer Nombre es <strong>requerido</strong>
                        </span>
                    </div>
                </div>
                
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Segundo Nombre</label>
                        <input type="text" formControlName="segundonombre" class="form-control">
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Primer Apellido</label>
                        <input type="text" formControlName="primerapellido" class="form-control">
                        <span class="text-danger"
                        *ngIf="personaForm.get('primerapellido')?.hasError('required') && personaForm.get('primerapellido')?.touched">
                        El Primer Apellido es <strong>requerido</strong>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Segundo Apellido</label>
                        <input type="text" formControlName="segundoapellido" class="form-control">
                        <span class="text-danger"
                        *ngIf="personaForm.get('segundoapellido')?.hasError('required') && personaForm.get('segundoapellido')?.touched">
                        El Segundo Apellido es <strong>requerido</strong>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Identificación</label>
                        <input type="text" formControlName="identificacion" class="form-control">
                        <span class="text-danger"
                        *ngIf="personaForm.get('identificacion')?.hasError('required') && personaForm.get('identificacion')?.touched">
                        La Identificación es <strong>requerida</strong>
                        </span>
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="form-group">
                        <label>Edad</label>
                        <input type="number" formControlName="edad" class="form-control" max="150" min="18" maxlength="3">
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <div class="form-group">
                        <label>Sexo</label>
                        <select name="sexo" id="sexo" formControlName="sexo" class="form-control">
                            <option [ngValue]="item.id" *ngFor="let item of sexos">{{item.nombre}}</option>
                        </select>
                        <span class="text-danger"
                        *ngIf="personaForm.get('sexo')?.hasError('required') && personaForm.get('sexo')?.touched">
                        El Sexo es <strong>requerido</strong>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" formControlName="email" class="form-control">
                        <span class="text-danger"
                        *ngIf="personaForm.get('email')?.hasError('email') && personaForm.get('email')?.touched">
                        Correo <strong>invalido</strong>
                        </span>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="form-group">
                        <label>Número de Celular</label>
                        <input type="text" formControlName="telefono" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 mt-2">
                    <button type="submit" class="btn btn-primary" [disabled]="personaForm.invalid" style="width: 100%;">Guardar</button>
                </div>                
                <div class="col-3"></div>
                
            </div>
            
            
        </form>
    </div>
</div>

<div class="container mt-5">
    <article>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <th scope="col">Id</th>
                <th scope="col">Primer Nombre</th>
                <th scope="col">Primer Apellido</th>
                <th scope="col">Segundo Apellido</th>
                <th scope="col">Identificación</th>
                <th scope="col">Correo</th>
                <th scope="col">Télefono</th>
                <th scope="col">Opciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of personas">
                    <th>{{item.id}}</th>
                    <td>{{item.primernombre}}</td>
                    <td>{{item.primerapellido}}</td>
                    <td>{{item.segundoapellido}}</td>
                    <td>{{item.identificacion}}</td>
                    <td>{{item.email}}</td>                    
                    <td>{{item.telefono}}</td>   
                    <td>
                        <button type="button" class="btn btn-success" (click)="editar(item)">Editar</button>
                        <button type="button" class="btn btn-danger" (click)="eliminar(item)">Eliminar</button>
                    </td>
                </tr>                
            </tbody>
        </table>
    </article>
</div>
