
<div class="contenedor">
    <div class="container mt-5">
      <div *ngIf="loading" class="d-flex justify-content-center">
        <app-spinner></app-spinner>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-lg-6 offset-lg-3" >
          <div class="card">
            <div class="card-body">
              <h3 class="text-center titulo">Login</h3>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                  <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Correo">
                  <span class="text-danger"
                  *ngIf="loginForm.get('usuario')?.hasError('required') && loginForm.get('usuario')?.touched">
                    El Correo es <strong>requerido</strong>
                  </span>
                  <span class="text-danger"
                  *ngIf="loginForm.get('usuario')?.hasError('email') && loginForm.get('usuario')?.touched">
                    Correo <strong>invalido</strong>
                  </span>
                </div>
                <div class="mb-3">
                  <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Contraseña">
                  <span class="text-danger"
                  *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                    La Contraseña es <strong>requerida</strong>
                  </span>
                </div>
                <button class="btn btn-secondary btn-lg" routerLink='/'>Volver</button>
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg float-end">Aceptar</button>
              </form>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  